*{
  --color-text-primary: #061027;
  --color-divider: rgba(0, 0, 0, 0.07);
  --color-text-secondary: #868686;

  --color-hover-bg: rgba(0, 0, 0, 0.02);

  --color-accent: #2254f5;
  --color-pale-blue: #9ec4fa;

  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-gray: #858585;
}
